apiVersion: v1
kind: Service
metadata:
  name: {{ include "poolbeg.fullname" . }}
  labels:
    {{- include "poolbeg.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "poolbeg.selectorLabels" . | nindent 4 }}
